$('#body-solicitud').html("#{ j render("tabla_por_solicitud", historial_solicitud: @historial_solicitud) }");
$('#body-subarticulo').html("#{ j render("tabla_por_subarticulo", historial_subarticulo: @historial_subarticulo) }");
